<nav class="uk-navbar-container uk-margin cus-nav" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">IZI-TRAIN</a>
    </div>

    <div class="uk-navbar-center cus-text">
        Cách Thông Minh Nhất Để Đặt Vé Du Lịch. Bất cứ nơi nào.
        <!-- Smartest Way To Book Travel Tickets. Anywhere. -->
    </div>

    <div class="uk-navbar-right uk-margin-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: lifesaver"></span>
                    Hỗ Trợ
                </a>
            </li>
        </ul>

        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
                    Blog
                </a>
            </li>
        </ul>

        <button class="uk-button uk-button-default cus-button"> Đăng nhập</button>
    </div>
</nav>

<div class="uk-container">
    <h3>Chào buổi tối, người bạn mới!</h3>
    <p>Bạn đã sẵn sàng cùng IZITrain khám phá những điều tuyệt vời nhất cho chuyến hành trình sắp tới?</p>

    <div class="uk-card uk-card-default uk-card-body">
        <form class="uk-grid-small" uk-grid>
            <div class="uk-width-2-5@s uk-inline">
                <span class="uk-form-icon uk-margin-left" uk-icon="icon: search"></span>

                <select class="uk-select" style="padding-left: 37px;">
                    <option style="color: red;"> Cảng Sa Kỳ <span> => </span> Đảo Lý Sơn</option>
                    <option>Đảo Lý Sơn <span> => </span> Cảng Sa Kỳ</option>
                </select>

                <!-- <input class="uk-input uk-form-danger" href="#modal-full" uk-toggle type="text"> -->
                <!-- <div class="uk-width-1-1 uk-margin-left" uk-dropdown>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a>Cảng Sa Kỳ <span uk-icon="icon: arrow-right;"></span> Đảo Lý
                                Sơn </a></li>
                        <li class="uk-active"><a>Đảo Lý Sơn <span uk-icon="icon: arrow-right;"></span> Cảng Sa
                                Kỳ </a></li>
                    </ul>
                </div> -->
            </div>

            <div class="uk-width-2-5@s uk-inline">
                <span class="uk-form-icon uk-margin-left" uk-icon="icon: calendar"></span>
                <input class="uk-input uk-form-success" type="text">
            </div>

            <div class="uk-width-1-5@s uk-inline">
                <span class="uk-form-icon uk-margin-left" style="color: white;" uk-icon="icon: search"></span>
                <button class="uk-button uk-button-primary uk-width-1-1"> Tìm kiếm</button>
            </div>

        </form>
    </div>
</div>



<!-- <div id="modal-full" class="uk-modal-full uk-background-muted" uk-modal>
    <div class="uk-modal-dialog uk-background-muted">
        <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>

            <div class="uk-alert-primary" uk-alert>
                <h1 style="text-align: center;">CHỌN CHUYẾN ĐI</h1>
            </div>

            <div class="uk-padding-large">
                <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-modal-close-full uk-width-1-1"
                    style="margin-top: 120px;">
                    <h3 class="uk-card-title" style="text-align: center;">
                        Cảng Sa Kỳ <span uk-icon="icon: arrow-right; ratio: 3.5"></span> Đảo Lý Sơn</h3>
                </div>
 
 
            </div>
        </div>
    </div>
</div> -->