<nav class="uk-navbar-container uk-margin cus-nav" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">IZI-TRAIN</a>
    </div>

    <div class="uk-navbar-center cus-text">
        <!-- Cách Thông Minh Nhất Để Đặt Vé Du Lịch. Bất cứ nơi nào. -->
        <!-- Smartest Way To Book Travel Tickets. Anywhere. -->
    </div>

    <div class="uk-navbar-right uk-margin-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: lifesaver"></span>
                    Hỗ Trợ
                </a>
            </li>
        </ul>

        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
                    Blog
                </a>
            </li>
        </ul>

        <button class="uk-button uk-button-default cus-button"> Đăng nhập</button>
    </div>
</nav> 