.cus-nav{ 
    background-color: #fff;
    border: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%,0.2);
    // font-family: "Times New Roman", Times, serif;
    // font-size: 20px;
}
.cus-button{
    // background-color: #FFBB33;
    // color: white;
}

.cus-text{
    font-style: italic;
    font-size: 15px;
}