<!-- web -->
<div class="uk-flex-middle list-search-web" style="padding-top: 20px;" uk-grid>
  <div class="uk-width-1-3@m uk-flex-first">
    <a routerLink="/"><span uk-icon="chevron-left"></span>Quay lại</a>
  </div>
  <div class="uk-width-2-3@m">
    <span class="uk-text-muted" style="margin-right: 10px;">1. Thông tin Khách Hàng</span>
    <span class="uk-text-muted" style="margin-right: 10px;"><span uk-icon="chevron-right"></span> 2. Thành
      Toán</span>
    <span class="uk-text-emphasis" style="margin-right: 10px;"><span uk-icon="chevron-right"></span> 3. Xác Nhận</span>
  </div>
</div>


<!-- mobile -->
<div class="uk-flex-middle list-search-mobile" uk-grid>
  <div style="font-size: 14px; padding-top: 20px;">
    <span class="uk-text-muted" style="margin-right: 10px;">1. Thông Tin</span>
    <span class="uk-text-muted" style="margin-right: 10px;"><span uk-icon="chevron-right"></span> 2. Thanh
      Toán</span>
    <span class="uk-text-emphasis" style="margin-right: 10px;"><span uk-icon="chevron-right"></span> 3. Xác Nhận</span>
  </div>
</div>

<!-- passenger detail -->
<div class="uk-align-center">
  <!--  begin detail payment -->
  <div class="uk-card uk-card-default uk-card-body"
    style="border-radius: 10px; padding: 5px 10px 0px 10px; text-align: center">
    <p class="uk-text-emphasis uk-text-bold uk-text-uppercase"
      style="margin-top: 10px; margin-bottom: 10px; font-size: 30px;">
      Đặt vé thành công</p>

    <img width="150" height="150"
      src="https://cdn0.iconfinder.com/data/icons/shopping-and-retail-10/32/shopping_cart_done_success_complete_trolley_shop_sale_purchase-512.png">

    <p class="uk-text-emphasis uk-text-bold uk-text-uppercase" style="margin-top: 20px; margin-bottom: 0px;">
      Cảm ơn bạn đã mua vé tại <span style="color: orange;">IZI</span>Ship.vn</p>
    <!-- giá tiền -->
    <p class="uk-text-emphasis uk-text-bold"
      style="font-size: 16px; font-weight: normal; margin-bottom: 0; margin-top: 10px;">
      Thông tin về vé tàu đã được gửi về địa chỉ email của quý khách: <span
        style="color: blue;">lehongphuong@gmail.com</span>
    </p>
    <p class="uk-text-emphasis" style="font-size: 14px; font-weight: normal; margin-bottom: 0; margin-top: 10px;">
      Mọi thông tin thắc mắc về đơn hàng, mời bạn gọi đến Hotline:<span style="color: blue;"> 037 955 8185</span>
    </p>

    <br>
  </div>
  <!--  end detail payment -->
</div>