<!-- Footer -->
<div class="uk-section uk-section-default uk-background-default cus-footer" routerLinkActive="display-none">
  <a routerLink="/list"></a>
  <div class="uk-container">

    <h3>iZiShip nền tảng chính thức đặt vé tàu Lý Sơn</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>iZiShip là dịch vụ tàu mới nhất nhanh nhất từ Cảng Sa Kỳ ra đảo Lý Sơn. Với hệ thống tàu hiện đại</p>
      </div>
      <div>
        <p>Email: support@iziship.com</p>
      </div>
      <div>
        <p>Địa chỉ: Tầng 2, 121 Cù Chính Lan - Thanh Khê - Đà Nẵng</p>
      </div>
    </div>

    <hr>
    <p style="text-align: center;">Copyright ©2019 All rights reserved | This template is made with by VinaSofts</p>
  </div>
</div>