/* You can add global styles to this file, and also import other style files */ 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, input, textarea, button, a, p , h1, span {
    font-family: 'Roboto',sans-serif;
    box-shadow: none;  
    color: #000;
}